fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
chromadb==0.4.22
sentence-transformers==2.3.1
pypdf==4.0.1
python-dotenv==1.0.1
google-genai==0.3.0
# pydantic==2.6.1
pydantic>=2.7.0
numpy<2.0.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu